# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
scripts/guide-crawl/output/

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.development
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# yarn modern (non zero-installs)
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# rollup-plugin-visualizer output
stats.html