// Override default variables before the import
$body-bg: white;
$light: #c2c2c2;
$dark: #475a6d;
$primary: #0073e6;
$secondary: #ccd4dc;
$success: #96dbbe;
$danger: #ff8181;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
// Override CSS custom properties
:root {
  --bs-font-sans-serif: 'Titillium Web', sans-serif;
}

.row {
  --bs-gutter-x: 0;
}

/*
 * Bootstrap extend
 */
.container-align-left {
  @include make-container();
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.link-default {
  color: inherit;
  font-weight: 700;
}

.btn-as-link-default {
  /* Reset btn */
  background: transparent;
  border: 0;
  box-shadow: none;
  padding: 0;
  text-align: initial;
  /* Add other things */
  text-decoration: underline;
  /* Add link default properties */
  @extend .link-default;
}

.link-default:hover,
.btn-as-link-default:hover {
  color: $primary;
}

.form-max-width {
  max-width: 37.5rem;
}

.text-none {
  text-transform: none !important;
}

/*
 * Bootstrap override/customize
 */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 700;
}

.btn:not(.btn-link) {
  text-transform: lowercase;
  font-weight: 700;
}

.btn-link {
  padding: 0 0.25rem;
}

.bs-tooltip-top > .tooltip-inner {
  background-color: $primary;
  color: $white;
  border: 1px solid $primary;
}

.bs-tooltip-top > .tooltip-arrow::before {
  border-top-color: $primary;
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  transform: scale(0.85) translateY(-0.75rem);
}

.nav-link.active {
  font-weight: 700;
  border-bottom-color: $primary;
}

/*
 * Resets
 */
.reset-btn {
  background: transparent;
  border: 0;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
}

.btn-as-link {
  text-decoration: underline;
}

.btn-as-link:hover {
  color: $primary;
}
