// Override default variables before the import
$body-bg: white;
$light: #c2c2c2;
$dark: #475a6d;
$primary: #0073e6;
$secondary: #ccd4dc;
$success: #96dbbe;
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
// Override CSS custom properties
:root {
  --bs-font-sans-serif: 'Titillium Web', sans-serif;
}

.row {
  --bs-gutter-x: 0;
}

/*
 * Bootstrap extend
 */
.container-align-left {
  @include make-container();
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.link-default {
  color: inherit;
  font-weight: 700;
}

.form-max-width {
  max-width: 37.5rem;
}

/*
 * Bootstrap override/customize
 */
.btn:not(.btn-link) {
  text-transform: lowercase;
}

.bs-tooltip-top > .tooltip-inner {
  background-color: $primary;
  color: $white;
  border: 1px solid $primary;
}

.bs-tooltip-top > .tooltip-arrow::before {
  border-top-color: $primary;
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  transform: scale(0.85) translateY(-0.75rem);
}
