// Override default variables before the import
$body-bg: white;
$light: #c2c2c2;
$dark: #475a6d;
$primary: #0073e6;
$secondary: #dedede;
$success: #96dbbe;
$danger: #ff8181;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

/*
 * Bootstrap override/customize
 */
.btn:not(.btn-link) {
  text-transform: lowercase;
  font-weight: 700;
}

.btn-link {
  padding: 0 0.25rem;
}

.bs-tooltip-top > .tooltip-inner {
  background-color: $primary;
  color: $white;
  border: 1px solid $primary;
}

.bs-tooltip-top > .tooltip-arrow::before {
  border-top-color: $primary;
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  transform: scale(0.85) translateY(-0.75rem);
}

.nav-link.active {
  font-weight: 700;
  border-bottom-color: $primary;
}

div[contenteditable='true']:focus {
  outline: 0;
  background: $secondary;
}

/*
 * Resets
 */
.reset-btn {
  background: transparent;
  border: 0;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
}

.btn-as-link {
  text-decoration: underline;
}

.btn-as-link:hover {
  color: $primary;
}
