html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

/*
 * Just used for development
 */
.fakeData,
.mockFeature {
  position: relative;
}

.mockFeature::before,
.fakeData::before {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -80%);
  border: 1px solid white;
  padding: 1px 2px;
  font-size: 10px;
  font-weight: 700;
  white-space: nowrap;
  pointer-events: none;
}

.fakeDataStart::before {
  left: 0;
  transform: translate(0, -80%);
}

.mockFeature::before {
  content: 'mock';
  background: purple;
  color: white;
}

.fakeData::before {
  content: 'fake data';
  background: tomato;
  color: white;
}

main.hideDevLabels .mockFeature::before,
main.hideDevLabels .fakeData::before {
  display: none;
}
