html,
body,
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#root:has(#local-development-dashboard) {
  height: auto;
  min-height: 100%;
}

/*
 * TEMP Waiting for MUI to reset the body color
*/
body {
  background-color: white !important;
}

pre {
  white-space: pre-line;
}

fieldset {
  border: none;
}
